/* ====================
   color schemes 
   from dark to light
   -web designer{
       black:#040f24
       black:#011437
       darkslategrey:#222426
       bluegrey#5972a3
       slategrey:#757c8a
     }
 
   
   ==================== */
 body{
    background-color:#5972a3;
    margin:0 auto;
    text-align:center;
    font-size:65.2%;
}
.shadow{
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
header{
    height:12rem;
    width:100%;
    display:inline-block;
    border:solid 2px #011437;
    background-image:url(http://i.imgur.com/nMMFy9K.jpg?1);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}
#dropdown_div{
    height:2rem;
    width:2rem;
    position: relative;
    top: 1rem;
    left: 1rem;
    background-color:grey;
}
#title_box{
    margin:0 auto;
    height:8rem;
    width:15rem;
    position: relative;
    top: -30px;
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   font-family:'Poppins';
   font-size:12px;
   color:#fff5e4;
   text-shadow: 2px 2px 4px #000000;
}
#main{
    margin-top:3px;
    height:42rem;
    width:95%;
    display:inline-block;
}
/* ====================
   for decoration and 
   portrait
   ==================== */
#my_img_div{
    margin-bottom: 1rem;
    height:5rem;
    width:100%;
    display:inline-block; 
}
.decoration_left{
    height:2rem;
    width:45%;
    background-image:url(http://i.imgur.com/jCvLBzg.png?1);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}
.decoration_right{
    height:2rem;
    width:45%;
    background-image:url(http://i.imgur.com/cCrQ2l0.png?2);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}
#left_deco{
    float:left;
    position: relative;
    top: 33%;
}
#portrait_div{
    margin:0 auto;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 100%;
    top: 8px;
    position: relative;
    border:solid 2px #757c8a;
    background-image:url(http://i.imgur.com/dHnNVkY.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}
#right_deco{
    float:right;
    position: relative;
    top: -60%;
}
/* ====================
  cover letter and skills
   ==================== */
#personal_info{
    height: 35rem;
    width: 38%;
    display:inline-block;
    float:left;
    position: relative;
    background-color:#757c8a;
}
#cover_letter{
    margin:0 auto;
    height:15rem;
    width:98%;
    font-family:'Poppins';
    font-size:14px;
}
#skills{
    margin:0 auto;
    margin-top:50px;
    height:10rem;
    width:98%;
    border:solid 1px white;
}
.test_scores{
    margin:0 auto;
    padding:0;
    height:2rem;
    width:100%;
    display: inline-block;
    list-style: none;
    
}
li{
    margin:0;
    padding:0;
    display:inline-block;
    height:100%;
    width:calc(100%/5);
}
/* ====================
       projects
   ==================== */
#project_div{
    padding:2px;
    height: 35rem;
    width: 58%;
    display:inline-block;
    position: relative;
    float:right;

}
#app_one{
    margin:2px;
    height:12rem;
    width:48%;
    float:left;
    background-image:url(http://i.imgur.com/gleQX4g.png?1);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}
#app_two{
    margin:2px;
    height:12rem;
    width:48%;
    float:right;
    background-image:url(http://i.imgur.com/CUMMD3s.png?1);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}
#game_one{
    margin:2px;
    height:12rem;
    width:48%;
    position: relative;
    top: 37%;
    left:24%;
    background-image:url(http://i.imgur.com/3Bp5j7U.png?1);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}

#site_one{
    margin:2px;
    height:12rem;
    width:48%;
    float:left;
    position: relative;
    top: 39%;
    background-image:url(http://i.imgur.com/zYyHuRE.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}
#site_two{
    margin:2px;
    height:12rem;
    width:48%;
    float:right;
    position: relative;
    top: 39%;
    background-image:url(http://i.imgur.com/8gBqnnX.png?1);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}
/* ====================
  special to go back to 
  top of page
   ==================== */
#back_to_top{
    margin-top: 3rem;
    height:5rem;
    width:95%;
    display:inline-block;
}
#left_up_deco{
    float:left;
    position: relative;
    top: 28%;
}
#up{
    margin:0 auto;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
    top: 8px;
    position: relative;
}
#right_up_deco{
    float:right;
    position: relative;
    top: -45%;
}    
footer{
   margin-top:10px;
    height:8rem;
    width:100%;
    display:inline-block; 
    background-color:#040f24;
    font-family:'Poppins';
}
#contact_info{
    height:100%;
    width:30%;
    float:left;
}
h1{
    text-align: center;
    color: white;
}  
p{
    text-align: center;
}
a{
    text-align: center;
    text-decoration: none;
    font-size:10px;
    color:#fff5e4;
    text-shadow: 2px 2px 4px #000000
}
#link_div{
    height:100%;
    width:70%;
    float:right;
}
.info_links{
    margin:20px;
    height: 3.5rem;
    width: 3.5rem;
    display:inline-block;
    border-radius: 100%;
    top: 15px;
    position: relative;
    border:solid 2px #757c8a; 
}
/**link images*/
/*logo_design*/
#link_one{
    background-image:url(http://i.imgur.com/HXrxcGG.jpg?1);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}
/*photography*/
#link_two{
    background-image:url(http://i.imgur.com/HTmwYPk.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}
/*art*/
#link_three{
    background-image:url(http://i.imgur.com/SsH86wp.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}
/*tattoo*/
#link_four{
    background-image:url(http://i.imgur.com/3FnsTJ8.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}
/*furniture_and_crafts*/
#link_five{
    background-image:url(http://i.imgur.com/H2UYv45.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}
#link_six{
    background-image:url(http://i.imgur.com/AdPIEuv.jpg?1);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}
#link_seven{
    background-image:url(http://i.imgur.com/9MnI6Hr.jpg?1);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}
#link_eight{
    background-image:url(http://i.imgur.com/SsWpuqT.jpg?1);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}

/**font awsome*/
.fa-hand-o-up:before{
    content: "\f0a6";
    color: #011437;
    font-size: 4rem;
}

/**font styling example*/
/*.simple_font{
    height:40px;
    line-height: 40px;
    text-align: center;
    font-size: 40px;
    position:relative;
    left:-3rem;
    top:-2rem;
    color:#ffffff;
    font-family:'roboto';
}*/